Repository dragonmaster-alpha/react-polyglot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives, prettier --write

chore(deps-dev): bump lint-staged from 9.2.4 to 9.2.5
  yarn.lock
Due: none

feat(t): add a fallback prop for easier consumption
  src/T.tsx
Due: eslint --report-unused-disable-directives, prettier --write

fix(t): rename options to interpolations
  src/T.tsx
Due: eslint --report-unused-disable-directives, prettier --write

fix(i18n): allow consumption of t options
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

docs(i18n): add comments on implementation
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(t): add tests regarding fallback and interpolations
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(t): update text content match to be exact
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(i18n): restructure tests for readability
  src/__tests__/I18n.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(use-locale): restructure tests for readability
  src/__tests__/useLocale.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(t): structure tests according to use locale
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(use-translate): restructure tests for readability
  src/__tests__/useTranslate.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

docs: update readme to highlight component changes
  README.md
Due: prettier --write

test(use-locale): add check for string type
  src/__tests__/useLocale.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: indicate breaking change in changelog
  CHANGELOG.md
Due: prettier --write

test(t): add tests regarding number as interpolation
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

docs: rearrange readme badges
  README.md
Due: prettier --write

docs: add missing full stop
  README.md
Due: prettier --write

chore(deps-dev): bump typescript from 3.5.3 to 3.6.2
  package.json
  yarn.lock
Due: prettier --write

feat(t): add a count prop as a shorthand to use smart_count
  src/T.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(t): add tests for count prop and interpolation overriding
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

perf(i18n): wrap the whole context value in memo to prevent re-renders
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

feat(i18n): remove children.only but only render on polyglot mounted
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(i18n): update tests to reflect allowance of multiple children
  src/__tests__/I18n.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

refactor: put constants in one place for easier testing
  src/constants.ts
Due: eslint --report-unused-disable-directives, prettier --write

refactor(i18n-context): update footprint of fallback t function
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

fix: rename t type to PolyglotT
  src/constants.ts
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

refactor(use-translate): adopt usage of type PolyglotT
  src/useTranslate.ts
Due: eslint --report-unused-disable-directives, prettier --write

refactor(t): adopt usage of error messages from constants
  src/T.tsx
Due: eslint --report-unused-disable-directives, prettier --write

feat: export PolyglotT type
  src/index.ts
Due: eslint --report-unused-disable-directives, prettier --write

refactor: update tests to assert with constant messages
  src/__tests__/T.test.tsx
  src/__tests__/useTranslate.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

refactor: update i18n to use PolyglotT type
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

chore(deps-dev): bump eslint from 6.2.2 to 6.3.0
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 12.7.2 to 12.7.3
  yarn.lock
Due: none

refactor(use-t): rename useTranslate to useT
  src/index.ts
  src/useT.ts
Due: eslint --report-unused-disable-directives, prettier --write

refactor: rename tests for useTranslate to useT
  src/__tests__/useT.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

docs: update readme for useT
  README.md
Due: prettier --write

docs: add todo to remove vendors.d.ts
  src/vendors.d.ts
Due: eslint --report-unused-disable-directives, prettier --write

feat(t): implement polyglot enhancer to allow component interpolation
  src/enhanceT.ts
Due: eslint --report-unused-disable-directives, prettier --write

feat(t): utilize new enhancer and type in i18n
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

Path conditions:
  eslint --report-unused-disable-directives: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml})
