Repository dragonmaster-alpha/react-polyglot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --report-unused-disable-directives",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yml}": ["prettier --write", "git add"]
}

chore(deps): [security] bump acorn from 6.3.0 to 6.4.1
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 13.7.7 to 13.11.0
  yarn.lock
Due: none

chore(deps-dev): bump @babel/preset-env from 7.8.6 to 7.9.0
  yarn.lock
Due: none

chore(deps-dev): bump eslint-plugin-react from 7.17.0 to 7.19.0
  yarn.lock
Due: none

chore(deps-dev): bump sinon from 9.0.0 to 9.0.1
  yarn.lock
Due: none

chore(deps-dev): bump react-dom from 16.12.0 to 16.13.1
  yarn.lock
Due: none

chore(deps-dev): bump lint-staged from 9.5.0 to 10.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump prettier from 1.19.1 to 2.0.2
  package.json
  yarn.lock
Due: prettier --write

chore: update prettier config for 2.0 and fix format errors
  .prettierrc
  scripts/test.js
  src/enhanceT.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore: fix linting config and lint all files
  package.json
  src/__tests__/T.test.tsx
  src/__tests__/enhanceT.test.tsx
  src/__tests__/i18nContext.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

chore: update lint-staged config
  .lintstagedrc.json
Due: prettier --write

chore: update jest config
  jest.config.js
Due: eslint --report-unused-disable-directives, prettier --write

chore: update typescript config
  tsconfig.json
Due: prettier --write

chore(deps): update and install needed dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: fix grammar and utilize typescript 3.8 type imports
  examples/App.js
  jest.config.js
  scripts/test.js
  src/I18n.tsx
  src/T.tsx
  src/__tests__/I18n.test.tsx
  src/__tests__/T.test.tsx
  src/__tests__/enhanceT.test.tsx
  src/enhanceT.ts
  src/i18nContext.ts
  src/index.ts
  src/useLocale.ts
  src/useT.ts
Due: eslint --report-unused-disable-directives, prettier --write

ci: update circleci config to 2.1 and add test matrix for node versions
  .circleci/config.yml
Due: prettier --write

ci: fix mis-aligned config
  .circleci/config.yml
Due: prettier --write

ci: fix mis-aligned config again
  .circleci/config.yml
Due: prettier --write

ci: fix mis-typed config parameters
  .circleci/config.yml
Due: prettier --write

ci: fix executor params
  .circleci/config.yml
Due: prettier --write

ci: skip tests for node 8
  .circleci/config.yml
Due: prettier --write

feat!: bump minimum version of node to 10
  package.json
Due: prettier --write

refactor: move types to its own file
  src/constants.ts
  src/enhanceT.ts
  src/i18nContext.ts
  src/index.ts
  src/types.ts
  src/useT.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(deps): update yarn.lock for security
  yarn.lock
Due: none

chore(deps-dev): bump @types/react from 16.9.32 to 16.9.34
  yarn.lock
Due: none

chore(deps-dev): bump @testing-library/jest-dom from 5.3.0 to 5.5.0
  yarn.lock
Due: none

chore(deps-dev): bump sinon from 9.0.1 to 9.0.2
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 13.11.0 to 13.11.1
  yarn.lock
Due: none

chore(deps-dev): bump husky from 4.2.3 to 4.2.5
  yarn.lock
Due: none

chore(deps-dev): bump @typescript-eslint/parser from 2.26.0 to 2.27.0
  yarn.lock
Due: none

chore(deps-dev): bump prettier from 2.0.2 to 2.0.4
  yarn.lock
Due: none

chore(deps-dev): bump @babel/preset-env from 7.9.0 to 7.9.5
  yarn.lock
Due: none

chore(deps-dev): bump lint-staged from 10.1.1 to 10.1.3
  yarn.lock
Due: none

chore(deps-dev): bump jest from 25.2.7 to 25.3.0
  yarn.lock
Due: none

chore(deps-dev): bump @typescript-eslint/eslint-plugin
  yarn.lock
Due: none

chore(deps-dev): bump @typescript-eslint/parser from 2.27.0 to 2.28.0
  yarn.lock
Due: none

chore(deps-dev): bump babel-jest from 25.2.6 to 25.3.0
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 13.11.1 to 13.13.0
  yarn.lock
Due: none

chore(deps-dev): bump lint-staged from 10.1.3 to 10.1.4
  yarn.lock
Due: none

feat!: remove number interpolations for T component
  src/T.tsx
  src/__tests__/T.test.tsx
  src/constants.ts
Due: eslint --report-unused-disable-directives, prettier --write
