Repository dragonmaster-alpha/react-polyglot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --report-unused-disable-directives",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write", "git add"]
}

chore(commit): setup commitlint
  .commitlintrc.json
Due: prettier --write

chore(ts): setup typescript and babel for testing
  .babelrc
  tsconfig.json
Due: prettier --write

chore(testing): setup jest
  jest.config.js
Due: eslint --report-unused-disable-directives, prettier --write

feat(testing): add test runner script for local and ci
  scripts/test.js
Due: eslint --report-unused-disable-directives, prettier --write

feat(polyglot): implement i18n context
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

feat(polyglot): implement i18n provider
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write

feat(polyglot): implement useLocale and useTranslate hooks
  src/useLocale.ts
  src/useTranslate.ts
Due: eslint --report-unused-disable-directives, prettier --write

feat(polyglot): augment polyglot type definitions
  src/vendors.d.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(testing): add value tester component
  test/ValueTester.tsx
  test/index.ts
Due: eslint --report-unused-disable-directives, prettier --write

test(polyglot): add tests for useLocale and useTranslate
  src/__tests__/useLocale.test.tsx
  src/__tests__/useTranslate.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

chore(testing): add tests for i18n provider
  src/__tests__/I18n.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

feat(polyglot): add root export for publish
  src/index.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(publish): add license and npm ignore
  .npmignore
  LICENSE
Due: none

chore(publish): add package json
  package.json
  yarn.lock
Due: prettier --write

chore(publish): add release command
  package.json
Due: prettier --write

chore(release): 0.1.0
  CHANGELOG.md
Due: prettier --write

chore(lint): add ignore files to skip unwanted linting
  .eslintignore
  .prettierignore
Due: none

chore(lint): restrict to lint yml instead of yaml files
  .lintstagedrc.json
  package.json
Due: prettier --write

fix(publish): properly distribute with the dist folder
  .npmignore
  package.json
Due: prettier --write

ci(init): add circle ci config
  .circleci/config.yml
Due: prettier --write

test(coverage): add codecov for coverage reporting
  jest.config.js
  package.json
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

chore(deps-dev): bump babel-eslint from 10.0.2 to 10.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): unpin babel-eslint version
  package.json
Due: prettier --write

fix(deps-dev): fix lock file mismatch
  yarn.lock
Due: none

docs(readme): properly document the project
  README.md
Due: prettier --write

docs(readme): document smart count for interpolation options
  README.md
Due: prettier --write

docs(readme): rename key to phrase for t function
  README.md
Due: prettier --write

fix(polyglot): make key in NoOp required
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update code example for useTranslate
  README.md
Due: prettier --write

docs: add badge to acknowledge the use of conventional commits
  README.md
Due: prettier --write

feat(polyglot): add T component for easy phrase consumption
  src/T.tsx
  src/index.ts
Due: eslint --report-unused-disable-directives, prettier --write

test(polyglot): add tests for T component
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

docs: document the T component and switch sample to use it
  README.md
Due: prettier --write

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(publish): update release command to prevent human errors
  package.json
Due: prettier --write

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update changelog for v0.1.3
  CHANGELOG.md
Due: prettier --write

docs: add changelog item sub-title
  CHANGELOG.md
Due: prettier --write

docs: add size badges to readme
  README.md
Due: prettier --write
