Repository dragonmaster-alpha/react-polyglot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --report-unused-disable-directives",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yml}": ["prettier --write", "git add"]
}

feat(t): update function types to enhanced t
  src/constants.ts
  src/i18nContext.ts
  src/index.ts
  src/useT.ts
Due: eslint --report-unused-disable-directives, prettier --write

refactor(t): update import in T component to use t
  src/T.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(i18n-context): add tests for context cases specifically
  src/__tests__/i18nContext.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(hooks): simplify tests for hooks as we can test enhancer directly
  src/__tests__/useLocale.test.tsx
  src/__tests__/useT.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

test(i18n): simplify tests and check for t function signature
  src/__tests__/I18n.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

feat(t): add function overload to aid code auto completion
  src/enhanceT.ts
Due: eslint --report-unused-disable-directives, prettier --write

docs(t): fix grammar
  src/enhanceT.ts
Due: eslint --report-unused-disable-directives, prettier --write

test(t): simplify tests related to enhanceT implementation
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

fix(t): return ReactElement instead of ReactNode
  src/enhanceT.ts
Due: eslint --report-unused-disable-directives, prettier --write

test(enhance-t): add tests for enhance t to cover its implementation
  src/__tests__/enhanceT.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

style: ocd fixes on t tests
  src/__tests__/T.test.tsx
Due: eslint --report-unused-disable-directives, prettier --write

fix(t): add type casting for fallback function return
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(release): 0.3.0-0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps-dev): bump sinon from 7.4.1 to 7.4.2
  yarn.lock
Due: none

chore(deps-dev): bump husky from 3.0.4 to 3.0.5
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 12.7.3 to 12.7.4
  yarn.lock
Due: none

docs: add documentation to all exports
  src/I18n.tsx
  src/T.tsx
  src/constants.ts
  src/enhanceT.ts
  src/i18nContext.ts
  src/useLocale.ts
  src/useT.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(deps): update yarn.lock
  yarn.lock
Due: none

docs: update readme to reflect latest features
  README.md
Due: prettier --write

chore(deps-dev): bump @testing-library/react from 9.1.3 to 9.1.4
  yarn.lock
Due: none

docs: move deprecation to v0.4.0
  src/T.tsx
  src/constants.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(deps-dev): update polyglot definitions to remove custom ones
  package.json
  src/vendors.d.ts
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

docs: add minimal usage examples
  examples/app.js
  examples/components/LanguageSwitcher.js
  examples/components/Translated.js
  examples/components/index.js
  examples/phrases/en.js
  examples/phrases/fr.js
  examples/phrases/index.js
Due: eslint --report-unused-disable-directives, prettier --write

docs: add reference to examples in readme
  README.md
Due: prettier --write

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps-dev): bump @babel/core from 7.5.5 to 7.6.0
  yarn.lock
Due: none

chore(deps-dev): bump @babel/preset-env from 7.5.5 to 7.6.0
  yarn.lock
Due: none

chore(deps-dev): bump @babel/preset-typescript from 7.3.3 to 7.6.0
  yarn.lock
Due: none

chore(deps): bump node-polyglot from 2.3.1 to 2.4.0
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 12.7.4 to 12.7.5
  yarn.lock
Due: none

chore(deps-dev): bump eslint from 6.3.0 to 6.4.0
  yarn.lock
Due: none

chore(deps-dev): bump @commitlint/config-conventional
  yarn.lock
Due: none

chore(deps-dev): bump @commitlint/cli from 8.1.0 to 8.2.0
  yarn.lock
Due: none

chore(deps-dev): bump typescript from 3.6.2 to 3.6.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump codecov from 3.5.0 to 3.6.1
  yarn.lock
Due: none

chore(deps-dev): bump @babel/core from 7.6.0 to 7.6.2
  yarn.lock
Due: none

chore(deps-dev): bump @babel/preset-env from 7.6.0 to 7.6.2
  yarn.lock
Due: none

chore(deps-dev): bump @types/react-dom from 16.9.0 to 16.9.1
  yarn.lock
Due: none

chore(deps-dev): bump lint-staged from 9.2.5 to 9.4.0
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 12.7.5 to 12.7.8
  yarn.lock
Due: none
